$bg--dark: #0f0f0f;
$text--color--dark: #c2c2c2;
$bg--calc--dark: #151515;
$primary--color: red;
$bg-key-container--dark: #1a1a1a;
$bg-result-container--color: #1a1a1a;;
$font--family: url('https://fonts.googleapis.com/css2?family=Lato&display=swap');